@charset "utf-8";

body {
    background:#4e2b4529; /*cor de fundo */
    color: #9c27b0;
}

div#interface {
    width: 900px; /*delimitação de todo o contéudo na página, exceto o menu que está num posicionamento absoluto*/
    background-color: white; /*cor da interface e não de todo o site */
    margin: -20px auto 0px auto; /*  ÍNICIO DA NOTA
    > ordem: cima, direita, baixo  e esquerda. A definição auto fará que o próprio navegador assuma o controle da posição, que neste caso foi margem direira e a esquerda
    > Esta configuração centralizou a interface no corpo do site
    FIM DA NOTA*/
    box-shadow: 0px 0px 10px black; /* sombra na borda da interface>  ordem: deslocamento lateral, deslocamento vertical, espalhamento da sombra e a cor da sombra (pode ser definida pelo canal rgba com sombreamento */
    padding: 10px; 
    /* posição da caixa de texto dentro da interface, quando informamos apenas 1 valor ele será aplicado a todos os lados*/
}

h1 {
        font-family: Arial;
        font-size:30pt;
        color: #673AB7;  
        text-shadow: 2px 2px 2px black;
}
p { 
        text-align:justify;
        text-indent: 50px;
}
/* FORMATAÇÃO DE IMAGENS COM LEGENDAS
1 ETAPA: defininir uma classe para as imagens
Ex: <figure class="foto-legenda"> 
2 ETAPA: definir o estilo*/
header#cabecalho img#icone { /*formatando a foto do óculos, um objeto que está dentro do cabeçalho com id definido como ícone */
    position: absolute; /* todas as definiçoes de posição serão aplicadas em relacao ao corpo do site */
    left: 780px;
    top: 40px;
}
header#cabecalho {
    border-bottom: 1px black solid; /* criar uma linha no cabeçalho, dashed> tracejado e dotted > pontilhado */

}
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px; /* tamanho da caixa */
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
/* ÍNICIO NOTA
 -Posição relativa é o local definido pelo código html
 -Figcaption (legenda) ficará na posição 0
 -O canal rgba serve para criar transparência no estilo
 FIM DA NOTA 
 Efeito para mostrar a legenda somente quando passar o mouse */
}
nav#menu { /* para que o menu possa ser movido no layout do site, devemos transformá-lo num bloco*/
    display: block;
}
 /* FORMATAÇÃO MENU */
nav#menu ul {  /* formatação do menu */
    list-style: none; /* retirar os ícones laterais do menu */
    text-transform: uppercase; /* uppercase> letras maiúsculas */
    position: absolute; /* posição absolute, quando o bloco pode ser movida no corpo do site, quando é relativo, fica preso ao container. */
    top: -22px; /* como está na posição absoluta, irá ao topo do site */
    left: 300px; /* como está na posição absoluta, irá nessa referencia ao lado esquerdo do site */
}
nav#menu li {  /* formatação para cada item do menu */
    display: inline-block;  /* bloco na mesma linha */
    background-color: #a5709d; /* cor de fundo */
    padding: 10px;   /* tamanho da caixa */
    margin: 2px; /* controlar o espaço fora da caixa, as margens entre botões */
    transition: background-color 1s; /* transição do efeito hover */
}
nav#menu li:hover { /* Efeito quando passar o mouse por cima */
    background-color:#673ab77a;
}
nav#menu h1 {  /* esconder o termo menu no site, mas mantendo-o no código, pois há uma importância semântica */
    display: none; /* esconder */    
}

nav#menu a { /* formatando o link */
    color: black;
    text-decoration: none; /* tirar o sublinhado */  
}

nav#menu a:hover { /* mudar a cor quando estiver ativo no mouse */
    color: white;
    text-decoration: underline; /*sublinhar apenas quando passar o mouse */
}