@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo'; 
    /*fontes de locais externos:  respositorio publico de fontes> https://fonts.google.com/ 
    para utilizar uma fonte fora dos arquivos locais. No site do Google: escola o link pelo @import do tipo latim
    Caso o navegador não esteja numa versão atualizada,. não trata a fonte solicitada, mas sim uma padrão*/
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, sans-serif;
    background:#4e2b4529; /*cor de fundo */
    color: #9c27b0;
}

div#interface {
    width: 900px; /*delimitação de todo o contéudo na página, exceto o menu que está num posicionamento absoluto*/
    background-color: white; /*cor da interface e não de todo o site */
    margin: -20px auto 0px auto; /*  ÍNICIO DA NOTA
    > ordem: cima, direita, baixo  e esquerda. A definição auto fará que o próprio navegador assuma o controle da posição, que neste caso foi margem direira e a esquerda
    > Esta configuração centralizou a interface no corpo do site
    FIM DA NOTA*/
    box-shadow: 0px 0px 10px black; /* sombra na borda da interface>  ordem: deslocamento lateral, deslocamento vertical, espalhamento da sombra e a cor da sombra (pode ser definida pelo canal rgba com sombreamento */
    padding: 10px; 
    /* posição da caixa de texto dentro da interface, quando informamos apenas 1 valor ele será aplicado a todos os lados*/
}

h1 {
        font-family: 'FonteLogo';
        font-size:30pt;
        color: #673AB7;  
        text-shadow: 2px 2px 2px black;
}
p { 
        text-align:justify;
        text-indent: 50px;
}
a {
    color: pink;
    text-decoration: none; /* não sublinhar o link */
}
a:hover { /* pra sublinhar os links quando passar o mouse sobre */
    text-decoration: underline;
}
/* FORMATAÇÃO DE IMAGENS COM LEGENDAS
1 ETAPA: defininir uma classe para as imagens
Ex: <figure class="foto-legenda"> 
2 ETAPA: definir o estilo*/
header#cabecalho img#icone { /*formatando a foto do óculos, um objeto que está dentro do cabeçalho com id definido como ícone */
    position: absolute; /* todas as definiçoes de posição serão aplicadas em relacao ao corpo do site */
    left: 750px;
    top: 45px;
}
header#cabecalho {
    border-bottom: 1px black solid; /* criar uma linha no cabeçalho, dashed> tracejado, dotted > pontilhado  ou solid > linha normal*/
    height: 150px; /* altura do cabeçalho */
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px; /*primeiro é deslocamento lateral e o segundo vertical*/
    /*  > fazer a logomarca do google glass aparecer no cabeçalho do site apenas 1 vez usando no-repeat.
    > A referência desta imagem se dá pois o estilo css está dentro da pasta css e a imagem na pasta imagem, sendo assim, precisa voltar a pasta raiz do curso e entrar na pasta _imagem */
}
header#cabecalho h1 {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #888888;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px; /*configurando apenas a margem de baixo */
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif; /* fonte importada pelo site da Google */
    font-size: 30pt;
    color: #673AB7;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-top: 0px; /* configurando apenas a margem de cima */
}
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px; /* tamanho da caixa */
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
/* ÍNICIO NOTA
 -Posição relativa é o local definido pelo código html
 -Figcaption (legenda) ficará na posição 0
 -O canal rgba serve para criar transparência no estilo
 FIM DA NOTA 
 Efeito para mostrar a legenda somente quando passar o mouse */
}
nav#menu { /* para que o menu possa ser movido no layout do site, devemos transformá-lo num bloco*/
    display: block;
}
 /* FORMATAÇÃO MENU */
nav#menu ul {  /* formatação do menu */
    list-style: none; /* retirar os ícones laterais do menu */
    text-transform: uppercase; /* uppercase> letras maiúsculas */
    position: absolute; /* posição absolute, quando o bloco pode ser movida no corpo do site, quando é relativo, fica preso ao container. */
    top: -22px; /* como está na posição absoluta, irá ao topo do site */
    left: 300px; /* como está na posição absoluta, irá nessa referencia ao lado esquerdo do site */
}
nav#menu li {  /* formatação para cada item do menu */
    display: inline-block;  /* bloco na mesma linha */
    background-color: #a5709d; /* cor de fundo */
    padding: 10px;   /* tamanho da caixa */
    margin: 2px; /* controlar o espaço fora da caixa, as margens entre botões */
    transition: background-color 1s; /* transição do efeito hover */
}
nav#menu li:hover { /* Efeito quando passar o mouse por cima */
    background-color:#673ab77a;
}
nav#menu h1 {  /* esconder o termo menu no site, mas mantendo-o no código, pois há uma importância semântica */
    display: none; /* esconder */    
}

nav#menu a { /* formatando o link */
    color: black;
    text-decoration: none; /* tirar o sublinhado */  
}

nav#menu a:hover { /* mudar a cor quando estiver ativo no mouse */
    color: white;
    text-decoration: underline; /*sublinhar apenas quando passar o mouse */
}
section#corpo {
    display: block; /* aparecer como bloco */
    width: 520px;  /*definiçao da largura */
    float: left; /* se posicione no lado esquerdo, apenas se estiver configurado como bloco*/
    border-right: 1px solid black;
    padding-right: 15px;
}

article#noticia-principal h2 {
    font-size: 12pt;
    color: green;
    background-color: yellow;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 10px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: blue;
    margin-bottom: 0px;
    margin-top: 0px;
}

.direita { /* tudo que for da classe direita, terá esta formtação */
    text-align: right ;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color:black;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12pt;
    color: blue;
}
table#tabelaspec {
    border: 1px solid black;
}

table#tabelaspec td {
    border: 1px solid black;
    border-spacing: 0px; /* retirar espaço entre as tabelas */
    margin-left: auto;
    margin-right: auto;
    padding: 10px; /* espaço interno entre as tabelas */
    text-align: center;
    vertical-align: center; /*alinhado ao topo */
}

table#tabelaspec td.ce {
    color:white;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspec td.cd { /* a classe sobrepõe e tag principal */
    color: black;
    font-weight: bold;
}
table#tabelaspec caption {/* configurando o titulo da tabela */
    color: red;
    font-size: 13pt;
    font-weight: bolder; /*negrito */
}
table#tabelaspec caption span{
    display: block; /* se mostra como um bloco flutuante, desconectado do texto */
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px; /* para ficar mais próximo da tabela */
}
aside#lateral {
    display: block; /* aparecer como bloco */ 
    width: 350px;  /*definiçao da largura */
    float: right; /*se posicione no lado direito, apenas se estiver configurado como bloco */
}
footer#rodape {
    clear: both; /* essa config limpará as configurações feitas em section e aside */
    border-top: 1px solid black;
}
footer#rodape p {
    text-align: center;
}